
body {
	font-family: sans-serif;
	background-color: #cdb;
}

.hidden {
	visibility: hidden;
}

.busy {
	opacity: 0.4;
}

.slide-in {
	animation: slidein 0.5s forwards;
}

@keyframes slidein {
	100% {
		transform: translate(0, 0);
	}
}

.slide-out-up-start {
	transform: translate(0, -100%);
}

.slide-out-up {
	animation: slideoutup 0.5s forwards;
}

@keyframes slideoutup {
	100% {
		transform: translate(0, -100%);
	}
}

button {
	background: white;
	border-radius: 20px;
	box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.4);
}

button[disabled],
button:active {
	box-shadow: none;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

input[type=number]:not(.flatpickr-time input) {
	text-align: right;
}
