
html, body {
	height: 100%;
	margin: 0;
}

body {
	font-size: 10pt;
}

#RecordsContainer {
	height: calc(100% - 40px);
	padding: 20px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.table-controls {
	display: flex;
	width: calc(100% - 23px);
	padding: 10px;
	margin: 0 1px;
	background-color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid #ccc;
}

.table-controls > div {
	width: 100%;
	text-align: center;
}

#PageNum {
	width: 4em;
}

#PageSize {
	width: 3em;
}

#MaxPageNum {
	display: inline;
}

#RecordsTable {
	display: table;
	margin-bottom: 20px;
}

#RecordsTable.busy {
	opacity: 0.4;
}

#RecordsTable > div {
	background-color: white;
}

#RecordsTable > div:first-child {
	display: table-header-group;
	border-bottom: 1px solid #ccc;
}

#RecordsTable > div:nth-child(n+2) {
	display: table-row;
}

#RecordsTable > div.filtered {
	display: none;
}

#RecordsTable > div.odd {
	background-color: #eee;
}

#RecordsTable > div.frozen {
	position: fixed;
	top: 0;
}

#RecordsTable > div > div {
	display: table-cell;
	padding: 5px;
	text-align: center;
	min-width: 82px;
	width: 82px;
	max-width: 82px;
	border-left: 1px solid #ccc;
}

#RecordsTable > div > div:first-child {
	min-width: 180px;
	width: 180px;
	max-width: 180px;
	text-align: left;
	white-space: nowrap;
}

#RecordsTable .visit-heading {
	cursor: pointer;
}

.visit-site {
	height: 32px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}

.visit-date {
	display: none;
}

#TotalNumRecords {
	display: none !important;
}

.species-entry {
	display:flex;
	line-height:24px;
	margin: 0 2px;
	border-top: 1px solid #ccc;
}

.species-entry:last-child {
	border-bottom: 1px solid #ccc;
}

.species-entry:focus-within,
.species-entry:focus-within + .species-entry {
	border-top-color: black;
}

.species-entry:last-child:focus-within {
	border-bottom-color: black;
}

input.count {
	width: 60px;
}

input.uncertainty {
	width: 52px;
}

.inactive {
	color: #aaa;
}

.inactive .hidden-if-inactive {
	visibility: hidden;
}
