
html, body {
	height: 100%;
	margin: 0;
}

body {
	font-size: 10pt;
}

#RecordsContainer {
	height: calc(100% - 40px);
	padding: 20px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.records-controls {
	margin: 0 0 10px;
}

.table-controls {
	display: flex;
	width: calc(100% - 23px);
	padding: 10px;
	margin: 0;
	background-color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.table-controls > button {
	margin-right: 4px;
}

.table-controls > div {
	width: 100%;
	text-align: center;
}

#PageNum {
	width: 4em;
}

#PageSize {
	width: 3em;
}

#MaxPageNum {
	display: inline;
}

#RecordsTable {
	display: flex;
	border-collapse: collapse;
	margin-bottom: 20px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	--selected-column: 3;
}

#RecordsTable.busy {
	opacity: 0.4;
}

#RecordsTable > div {
	display: flex;
	flex-direction: column;
	border-top: 1px solid #ccc;
}

#RecordsTable > div:nth-child(n+2) {
	border-left: 1px solid #ccc;
}

#RecordsTable > div.selected {
	border-left: 1px solid #666;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}

#RecordsTable > div.selected + div {
	border-left: 1px solid #666;
}

#RecordsTable > div.selected:last-child {
	border-right: 1px solid #666;
}

#RecordsTable.frozen-heading .visit-heading {
	position: fixed;
	top: 0;
}

#RecordsTable .heading-placeholder {
	display: none;
}

#RecordsTable.frozen-heading .heading-placeholder {
	display: initial;
}

#RecordsTable > div > div {
	display: table-cell;
	padding: 5px;
	text-align: center;
	min-width: 82px;
	width: 82px;
	max-width: 82px;
	background-color: white;
}

#RecordsTable > div > div:nth-child(even) {
	background-color: #eee;
}

#RecordsTable > div > div:first-child {
	border-bottom: 1px solid #ccc;
}

#RecordsTable > div:first-child > div {
	min-width: 180px;
	width: 180px;
	max-width: 180px;
	text-align: left;
	white-space: nowrap;
	border-left: 0;
}

#ToggleFilters,
#RecordsTable > div:nth-child(n+2) {
	cursor: pointer;
}

#RecordsTable .species-records.selected {
	border: 1px solid #666;
}

#RecordsTable .species-records.selected > div:first-child {
	border-left: 1px solid #666;
}

#NewVisitContainer {
	height: calc(100% - 41px);
	overflow-y: scroll;
}

.visit-site {
	height: 32px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}

.visit-date {
	display: none;
}

#TotalNumRecords {
	display: none !important;
}

.species-entry {
	display:flex;
	line-height:24px;
	margin: 0 2px;
	border-top: 1px solid #ccc;
}

.species-entry:last-child {
	border-bottom: 1px solid #ccc;
}

.species-entry:focus-within,
.species-entry:focus-within + .species-entry {
	border-top-color: black;
}

.species-entry:last-child:focus-within {
	border-bottom-color: black;
}

input.count {
	width: 60px;
}

input.uncertainty {
	width: 52px;
}

.inactive {
	color: #aaa;
}

.inactive .hidden-if-inactive {
	visibility: hidden;
}
