<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width:device-width, initial-scale=1">

		<title>BirdTable</title>
		<link rel="icon" type="image/png" href="/assets/images/icon.png">

		<link rel="stylesheet" href="/assets/css/common.css">
		<link rel="stylesheet" href="/assets/css/home.css">
	</head>
	<body>
		<div class="nav-button-container">
			<a href="/list">
				<div class="nav-button">
					<img src="/assets/images/wren.png">
					<span>List</span>
				</div>
			</a>
			<a href="/records">
				<div class="nav-button">
					<img src="/assets/images/redshank-silhouette.png">
					<span>Records</span>
				</div>
			</a>
			<a href="/maps">
				<div class="nav-button">
					<img src="/assets/images/red-kite-silhouette.png">
					<span>Maps</span>
				</div>
			</a>
		</div>
	</body>
</html>
