<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width:device-width, initial-scale=1">

		<title>Records &ndash; BirdTable</title>
		<link rel="icon" type="image/png" href="/assets/images/icon.png">

		<script type="text/javascript" src="/assets/third-party/moment/moment.min.js"></script>

		<script type="text/javascript" src="/assets/third-party/flatpickr/flatpickr.min.js"></script>
		<link rel="stylesheet" href="/assets/third-party/flatpickr/flatpickr.min.css">
		<link rel="stylesheet" href="/assets/third-party/flatpickr/themes/material_green.css">

		<script type="text/javascript" src="/assets/js/RecordsMain.js"></script>
		<script type="text/javascript" src="/assets/js/NewEditVisitRecordOverlay.js"></script>
		<script type="text/javascript" src="/assets/js/ViewVisitRecordOverlay.js"></script>
		<link rel="stylesheet" href="/assets/css/common.css">
		<link rel="stylesheet" href="/assets/css/records.css">

		<script type="text/javascript">
			if (document.readyState !== "loading") main();
			else document.addEventListener("DOMContentLoaded", main);
		</script>
	</head>

	<body>
		<div id="RecordsContainer">
			<div class="records-controls">
				<button type=button id="NewVisit">New</button>
				<button type=button id="ViewRecord" disabled="" autocomplete="off">View</button>
			</div>
			<div class="table-controls">
				<button type=button id="FirstPage" disabled="">&lt;&lt;</button>
				<button type=button id="PreviousPage" disabled="">&lt;</button>
				<div>
					Page
					<input type="number" id="PageNum" min=1 max={{maxPageNum}}>
					/
					<div id="MaxPageNum"></div>
					&mdash; Page size
					<input type="number" id="PageSize" value=12 min=1>
				</div>
				<button type=button id="NextPage" disabled="">&gt;</button>
				<button type=button id="LastPage" disabled="">&gt;&gt;</button>
			</div>
			<div id="RecordsTable"></div>	
		</div>

		{{{newEditVisitRecordOverlay}}}
	</body>
</html>
