<div class="species-names">
	<div class="heading frozen">
		<div>&nbsp;</div>
		<div>&nbsp;<br/>&nbsp;</div>
	</div>
	<div class="heading">
		<div>&nbsp;</div>
		<div>&nbsp;<br/>&nbsp;</div>
	</div>
	{{{speciesNames}}}
</div>
{{{visitRecords}}}
