<div class="species-element">
	<div>
		<div class="species-name">{{name}}</div>
		<div class="species-binomial-name">{{binomialName}}</div>
	</div>
	<div class="species-count">
		<div>{{count}}</div>
		<div>&nbsp;/&nbsp;</div>
		<div>{{timesSeen}}</div>
	</div>
	<div class="species-seen-heard">
		<div></div>
		<div class="species-seen">{{seen}}</div>
		<div class="species-heard">{{heard}}</div>
	</div>
</div>