<div class="visit">
	<div class="heading frozen">
		<div class="visit-date">{{date}}</div>
		<div class="visit-site">{{site}}</div>
	</div>
	<div class="heading">
		<div>&nbsp;</div>
		<div class="visit-site">&nbsp;</div>
	</div>
	{{{sightings}}}
</div>
