<div id="ViewVisitRecords" class="overlay">
	<div id="ViewVisitContainer" style="height: calc(100% - 41px); overflow-y: scroll">
		<div style="display: block; padding: 16px 16px 16px 32px; border-bottom: 1px solid #888;">
			<span style="display: block; font-size: 20pt">{{siteName}}</span>
			<span id="VisitDateTime" data-start-time="{{startTime}}" data-end-time="{{endTime}}" style="display: block"></span>
			<span style="display: block; margin-top: 6px">{{notes}}</span>
		</div>
		{{{speciesEntries}}}
	</div>
	<div style="text-align: center; line-height: 40px; border-top: 1px solid #aaa;">
		<button type=button id="EditVisitRecord" style="padding: 2px 10px">Edit</button>
		<button type=button id="CloseVisitRecord" style="padding: 2px 10px">Close</button>
	</div>
</div>