<div>
	<div>
		<div>&nbsp;</div>
		<div>&nbsp;<br/>&nbsp;</div>
	</div>
	{{{visitHeadings}}}
</div>
<div style="display: none;">
	<div>
		<div>&nbsp;</div>
		<div>&nbsp;<br/>&nbsp;</div>
	</div>
</div>
{{{speciesRecords}}}
<div id="TotalNumRecords">{{totalNumVisits}}</div>