<div data-total-records="{{totalNumVisits}}">
	<div class="visit-heading">
		<div>&nbsp;</div>
		<div>&nbsp;<br/>&nbsp;</div>
	</div>
	<div class="heading-placeholder">
		<div>&nbsp;</div>
		<div>&nbsp;<br/>&nbsp;</div>
	</div>
	{{{speciesNames}}}
</div>
{{{visitRecords}}}