<div class="visit-record" data-visit-id="{{visitId}}">
	<div class="visit-heading">
		<div class="visit-site">{{site}}</div>
		<div class="visit-date">{{date}}</div>
	</div>
	<div class="heading-placeholder">
		<div>&nbsp;</div>
		<div>&nbsp;<br/>&nbsp;</div>
	</div>
	{{{sightings}}}
</div>